BT_Audio/Rt685Conversa_handsfree_cm33/Debug/
*.launch
BT_Audio/Rt685Conversa_handsfree_cm33/.settings/language.settings.xml
BT_Audio/.metabinary/
BT_Audio/.metadata/
BT_Audio/Rt685Conversa_handsfree_hifi4/bin/
BT_Audio/XtensaInfo/
BT_Audio/libc_RI-2021.8/
BT_Audio/Rt685Conversa_handsfree_cm33/.settings/org.eclipse.cdt.managedbuilder.core.prefs

BT_Audio_with_full_audio_path/Rt685Conversa_handsfree_cm33/Debug/
BT_Audio_with_full_audio_path/Rt685Conversa_handsfree_cm33/.settings/language.settings.xml
BT_Audio_with_full_audio_path/.metabinary/
BT_Audio_with_full_audio_path/.metadata/
BT_Audio_with_full_audio_path/Rt685Conversa_handsfree_hifi4/bin/
BT_Audio_with_full_audio_path/XtensaInfo/
BT_Audio_with_full_audio_path/libc_RI-2021.8/
BT_Audio_with_full_audio_path/Rt685Conversa_handsfree_cm33/.settings/org.eclipse.cdt.managedbuilder.core.prefs


Bootloader/evkmimxrt685_ota_mcuboot_basic/Debug/
Bootloader/evkmimxrt685_ota_mcuboot_basic/.settings/language.settings.xml
Bootloader/evkmimxrt685_mcuboot_opensource/Debug/
Bootloader/evkmimxrt685_mcuboot_opensource/.settings/language.settings.xml
BT_Audio_with_full_audio_path/Rt685Conversa_handsfree_cm33/scripts/output/


